/* footer open*/

.footer {
    background-color: $bg-footer;
}

.adress {
    display: flex;
    padding: 60px 15px;
}

.contact-footer {
    margin-right: 70px;

    & .link {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */
            letter-spacing: 0.03em;
            color: $color-mail-animate;
        }
    
       & li {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */
            letter-spacing: 0.03em;
            color: $white;
        }
}



.logo-footer {
    display: inline-block;
    color: $white;
    font-family: 'Raleway', 'sans-serif';
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 2;
    text-decoration: none;
    margin-bottom: 20px;

 & .logo-web {
            color: $accent-color;
        }
}


.join {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 12px;
    color: $white;
}


.social {
    margin-top: 20px;
    fill: $white;
}

.social .icon {
    color: currentColor;
    background-color: $bg-footer-icon;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

& .icon:hover,
& .icon:focus {
            background-color: $accent-color;
            border-radius: 50%;
            fill: $white;
        }
}




/* footer mail-form */

.form-mail {
    margin-left: 93px;

    .follow-title {
            display: block;
            margin-bottom: 20px;
            margin-top: 12px;
            color: $white;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
}



.lable-mail {
    display: block;
    position: relative;

  & .mail-anime{
            position: absolute;
            left: 16px;
            top: 50%;
            font-family: 'Roboto';
            font-size: 16px;
            line-height: 125%;
            display: block;
            align-items: center;
            letter-spacing: 0.03em;
            color: $color-mail-animate;
            transform: translateY(-50%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
}



.input-mail {
    display: inline-flex;
    margin: 0;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    padding: 15px;

    &:focus {
            border: 1px solid $accent-color;
        }
}



.input-mail:focus~.mail-anime,
.input-mail:not(:placeholder-shown)~.mail-anime {
    transform: translateY(-45px) rotate(360deg);
}

.button-follow {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $accent-color;
    padding: 10px 29px;
    margin-left: 12px;
    cursor: pointer;
}

.button-follow::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(/images/icon_send.svg);
    margin-left: 10px;
}

.wrap-follow {
    display: flex;
    align-items: center;
}